{# 
	Template for the products listing page
	Inherited from pages/_entry-types/productListing.twig
#}

{% set types = craft.entries.section("productTypes") %}

<div class="product-list{% if types.count() > 1 %} has-product-types{% endif%}">
	<div class="container">

		{% if types.count() > 1 %}
			<div class="product-types">
				<strong>Product Types:</strong>
				<ul>
					{% for t in types.all() %}
						<li>
							{% if loop.index > 1 %}
								<span> | </span>
							{% endif %}
							<a href="{{ t.url }}">
								{{ t.friendlyTitle }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{# {% include 'lists/_lazyloader' with { section: 'products', template: 'products/_products' } %} #}

		{% set products = craft.entries.section("products") %}
		<div class="row justify-content-center">
			{% include 'products/_products' with { entries: products } %}
		</div>

	</div>
</div>

