{# 
	Template for the products listing page
	Inherited from pages/_entry-types/productListing.twig
#}

{% set types = craft.entries.section("productTypes") %}

<div class="product-list">
	<div class="container">

		<div class="product-types">
			<strong>Product Types:</strong>
			<ul>
				{% for t in types.all() %}
					<li>
						{% if loop.index > 1 %}
							<span> | </span>
						{% endif %}
						<a href="{{ t.url }}">
							{{ t.friendlyTitle }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		{% include 'lists/_lazyloader' with { section: 'products', template: 'products/_products' } %}

	</div>
</div>

