{# 
	Template used for lazy loading products
#}
{% for product in entries.all() %}
	<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
		<article class="h-100">
			<a href="{{ product.url }}" class="h-100">
				{% if product.productImages and product.productImages.count > 0 %}
					<img src="{{ product.productImages.one().url("blockImage") }}" class="pb-2" alt="">
				{% endif %}
				<h4>{{ product.friendlyTitle }}</h4>
				{% if product.briefDescription | length != "" %}
					<p>{{ product.briefDescription }}</p>
				{% endif %}
				<div>
					<span class="cta-link">Learn More</span>
				</div>
			</a>
		</article>
	</div>
{% endfor %}