/***** PRODUCTS *****/

body.products {
	.hero {
		margin-top: 15px;
	}
}

.product-list {
	background-color: $white;
	padding: 20px 0;
	&.has-product-types {
		padding: 1px 0;
	}
	article {
		padding: 20px 0;
		a {
			&:hover {
				border-top-color: $link-hover-color;
				h4, p, .cta-link {
					color: $link-hover-color;
				}
			}
			display: block;
			border-top: solid 5px $primary-color;
			min-height: 300px;
			transition: border-top-color $transition-time;
			h4 {
				color: $primary-color;
				margin-top: 15px;
				transition: color $transition-time;
			}
			p {
				color: $font-color;
				transition: color $transition-time;
				margin-bottom: 10px;
			}
			.cta-link {
				transition: color $transition-time;	
			}
			img {
				width: 100%;
			}
		}
	}
}

.product-types {
	margin: 30px 0 10px 0;
	ul {
		list-style: none;
	    margin: 0;
	    padding: 0;
	    display: inline;
	    li {
			display: inline;
	    }
	}
}

.product-portfolio {
	.module {
	    border-top: solid 5px $primary-color;
	   
	}
}

@media (min-width: 992px)
{
	.product-portfolio {
		.module {
		    padding-top: 120px !important;
		     margin-top: 30px;
		}
	}
	.product-list {
		article {
			a {
				&:hover {
					img {
						filter: brightness(100%);
					}
				}
				img {
					filter: brightness(88%);
					transition: filter $transition-time;
				}
			}
		}
	}
}