$notecolor: #F8EE51;
$highlightcolor: #DDDDDD;

.prototype {

	.prototype-module-note {
		display: none;
	}

	.prototype-trigger {
		position: fixed;
		z-index: 1000;
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		&:hover {
			svg {
				fill: darken($highlightcolor, 10%);
			}
		}
		svg {
			fill: $highlightcolor;
		}
	}

	&.prototype-edit-mode {

		.prototype-trigger {
			svg {
				fill: $notecolor;
			}
			&:hover {
				svg {
					fill: darken($notecolor, 10%);
				}
			}
		}

		header, footer, .module, .page-header .header-image, .page-header .text-header {

			transition: box-shadow 0.25s;
			position: relative;

			&:hover {
				cursor: url('/images/sticky-note.svg') 20 20, grab;
		        box-shadow: inset 0px 0px 1px 7px $highlightcolor;
		        box-sizing: border-box;
			}

			.prototype-module-note {
				display: inline;
				position: absolute;
				z-index: 1010;
				right: 10px;
				top: 10px;
				width: 25px;
				height: 25px;

				svg {
					fill: $notecolor;
				}
			}
		}

	}

}