//IMPORT FONTS

$black: #000000;
$white: #ffffff;
$primary-color: #1F5432;
$secondary-color: #F29A37; //#8BB929;
$tertiary-color: darken(#199FDE, 4%);
$quaternary-color: #B3C628; //#F1993B;
$font-color: #3B4856;
$link-color: $primary-color;
$link-hover-color: $tertiary-color; //lighten($link-color, 15%);
$button-color: $tertiary-color;
$button-hover-color: darken($button-color, 8%);
$label-color: #212948;
$border-color: #dee2e6;
$error-color: #FE505C;
$gray-font: lighten($black, 50%);

// $default-font: 'Open Sans', sans-serif;
// $default-font: 'Roboto', sans-serif;
$default-font: 'Nunito', sans-serif;
$header-font: 'Calistoga', cursive;

$bold-weight: 700;

$base-font-size: 16px; // base font-size (1rem = 16px)
$small-font-size: 0.75rem;

$input-height: 40px; // a consistent height to use for textboxes, buttons or dropdowns

$site-container-padding: 50px;
$site-container-color: lighten($primary-color, 68%);

$transition-time: 0.35s;

@mixin fa-icon($content) {
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900; 
	content: $content;
}