{% extends "_layout" %}

{% block content %}

	{% include "_includes/page-header" %}

	<div>

		{% include "_modules/page-module-top" %}

		{# Put custom homepage content here #}

		{% include "_modules/page-module-bottom" %}

	</div>

{% endblock %}